/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    /*color: #555;*/
	color : #00000;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

.mycontainer {
  width : 340px;  
  height : 200px;
  border-radius: 15px 50px;
  background: #73AD21;
  padding: 20px; 
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
}

.btnSubmit {   
   background-color: #f4511e; 
   border: none;
   color: white;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 8px;
   float : center;
}

.secKey {
	padding-left : 30px;
}

.hrclass {
	border-top: 1px solid #f4511e;
}